@model BlueprintDetailsViewModel
@{
    ViewBag.Title = Model.Blueprint.Title;
}

<br />
<h4>@Model.Blueprint.Title</h4>
<br />
<p style="white-space: pre-wrap;">@Model.Blueprint.BlueprintBody</p>
<br />