@inject SignInManager<ApplicationUser> signInManager
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNET_Project_Ten</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <script src="https://unpkg.com/@@popperjs/core@@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/javascript.util/javascript.util.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
    <!--<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />-->
    <!--<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>-->
</head>
<body>
    <header>
    </header>
    <div class="container">
        <div class="row">

            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light d-flex">

                <a class="navbar-brand justify-content-start" asp-controller="home" asp-action="index">Baespeaks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="index"><i class="bi bi-house-door"></i> Home<span class="sr-only"></span></a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {
                            @if ((await AuthorizationService.AuthorizeAsync(User, "ManagerLevelPolicy")).Succeeded)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-list-ul"></i> Articles
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link" asp-controller="Articles" asp-action="ListArticles">
                                            <i class="bi bi-journal-text"></i> List Articles
                                        </a>
                                        <a class="nav-link" asp-controller="Articles" asp-action="CreateArticle">
                                            <i class="bi bi-journal-plus"></i> Create Article
                                        </a>
                                        <a class="nav-link" asp-controller="Articles" asp-action="ListEditArticles">
                                            <i class="bi bi-journal-code"></i> Edit Articles
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-list-ul"></i> Music
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link" asp-controller="Music" asp-action="ListPlaylists">
                                            <i class="bi bi-file-earmark-play"></i> Music Playlists
                                        </a>
                                        <a class="nav-link" asp-controller="Music" asp-action="CreatePlaylist">
                                            <i class="bi bi-file-earmark-plus"></i> Create Playlist
                                        </a>
                                        <a class="nav-link" asp-controller="Music" asp-action="ListEditPlaylists">
                                            <i class="bi bi-file-earmark-ruled"></i> Edit Playlists
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-list-ul"></i> Portfolio
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link" asp-controller="Portfolio" asp-action="ListBlueprints">
                                            <i class="bi bi-clipboard-data"></i> Portfolio Blueprints
                                        </a>
                                        <a class="nav-link" asp-controller="Portfolio" asp-action="CreateBlueprint">
                                            <i class="bi bi-clipboard-plus"></i> Create Blueprint
                                        </a>
                                        <a class="nav-link" asp-controller="Portfolio" asp-action="ListEditBlueprints">
                                            <i class="bi bi-clipboard-minus"></i> Edit Blueprint
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-list-ul"></i> Employees
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="home"
                                           asp-action="ListEmployees"><i class="bi bi-file-person"></i> List Employees</a>
                                        <a class="dropdown-item" asp-controller="home"
                                           asp-action="CreateEmployee"><i class="bi bi-person-plus"></i> Create Employee</a>
                                    </div>
                                </li>
                                @if (    // true)
                                 (await AuthorizationService.AuthorizeAsync(User, "ExecutiveLevelPolicy")).Succeeded)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-list-ul"></i> Manage
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="administration"
                                               asp-action="ListUsers"><i class="bi bi-person-lines-fill"></i> Users</a>
                                            <a class="dropdown-item" asp-controller="administration"
                                               asp-action="ListRoles"><i class="bi bi-vector-pen"></i> Roles</a>
                                            <a class="dropdown-item" asp-controller="Account"
                                               asp-action="Register"><i class="bi bi-person-plus"></i> Register</a>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a class="nav-link" asp-controller="Portfolio" asp-action="ListBlueprints">
                                        <i class="bi bi-clipboard-data"></i> Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Music" asp-action="ListPlaylists">
                                        <i class="bi bi-file-earmark-play"></i> Music Playlists
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Articles" asp-action="ListArticles">
                                        <i class="bi bi-journal-text"></i> Articles
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About"><i class="bi bi-info-circle"></i> About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="ChangePassword"><i class="bi bi-tools"></i> Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="logout"><i class="bi bi-arrow-return-right"></i> Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link" asp-controller="Articles" asp-action="ListArticles">
                                    <i class="bi bi-journal-text"></i> Articles
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" asp-controller="Music" asp-action="ListPlaylists">
                                    <i class="bi bi-file-earmark-play"></i> Music Playlists
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" asp-controller="Portfolio" asp-action="ListBlueprints">
                                    <i class="bi bi-clipboard-data"></i> Portfolio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login"><i class="bi bi-person-check"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register"><i class="bi bi-person-plus"></i> Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About"><i class="bi bi-info-circle"></i> About</a>
                            </li>
                        }
                    </ul>

                </div>
            </nav>

        </div>
    </div>

    <div class="container renderBody">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto fixed-bottom bg-light">
        <!-- fixed-bottom does not work as expected (?) since you need to scoll to see it -->
        <div class="container">
            <span class="text-muted m-1">Place sticky footer content here.</span>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
