<br />
<div class="row">
    <div class="col-sm-6">
        <h5>Want to get to know us?</h5>
    </div>
    <div class="col-sm-6">
        <p style="white-space: pre-wrap;">This is Bae. Daniel Bae:

Ethnically controversial bilingual Korean. La Brea born and Bellevue raised. Audiophile and fitness extraordinaire. Raised by a talented musician and an ambitious businessman.Middle child. Capricorn.Protestant while discontent with organized religion.Bipolar and rough around the edges. Raw when it comes to conversation. Ex - Trojan of Central Los Angeles

All articles are a product of bae.All music is a repost of the best works I have come across. I do not take ownership of any songs that I post in this blog

I hope you enjoy being here
        </p>
    </div>
</div>